<main>
    <h1>Webbutveckling - Kurser</h1>
    <div>
        <label for="search">Sök:</label>
        <input type="text" name="search" id="search" [(ngModel)]="searchTerm" (keyup)="searchTable()">
    </div>
    <table>
        <caption>Klicka på kurskod för att se studieplan</caption>
        <thead>
            <tr>
                <th (click)="sortByCode()">Kurskod</th>
                <th (click)="sortByName()">Namn</th>
                <th (click)="sortByProg()">Progression</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let course of coursesArrCopy">

                <td><a href="{{course.syllabus}}">{{course.code}}</a></td>
                <td>{{course.coursename}}</td>
                <td>{{course.progression}}</td>

            </tr>
        </tbody>
    </table>
</main>